[
    {erlysocks, [
%        {ip,        {0,0,0,0,0,0,0,1}},
        {ip,        {0,0,0,0}},
        {port,      1080}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/info.log"},  {level, info},  {size, 10485760}, {date, "$W0"}, {count, 5}]},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$W0"}, {count, 5}]}
        ]}
    ]}
].
